.nav {
  width: 100%;
  height: 3rem;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav .logo,
.navLinks,
.search {
  width: 100%;
  height: 3rem;
}

.logo .logo--container {
  width: 10rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navLinks ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
}

.navLinks ul li {
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -10px;
  top: 30px;
  background-color: #000;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
  transition: 200ms;
}

.dropdown-content p {
  width: 100%;
  padding: 7px 0px;
  font-size: 13px;
}

.dropdown-content p:hover {
  background-color: #9c1b2c;
}

.navLinks ul li:hover .dropdown-content {
  display: block;
}

.navLinks li.active {
  background-color: rgb(156, 48, 57);
}

.search form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search form input {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

.search form input.active {
  display: inline;
}

.search form button {
  position: absolute;
  left: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.search form button.active {
  left: 15%;
}

@media only screen and (max-width: 700px) {
  .logo .logo--container {
    width: 6rem;
  }
  .navLinks ul {
    padding-left: 0;
    padding-right: 0;
  }
  .navLinks ul li {
    color: #fff;
    font-size: 10px;
    padding: 3px 2px;
    border-radius: 7px;
  }
  .dropdown-content {
    left: 0px;
  }
  .search form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .search form input {
    width: 50px;
    font-size: 10px;
    display: block;
    position: initial;
  }
  .search form button {
    position: initial;
    font-size: 15px;
  }
  .search form button.active {
    position: initial;
  }
}
