.songs--links {
  width: 83%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 2rem;
  overflow: hidden;
}

.songs--links .songs-section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.songs-section .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.header p {
  font-size: 14px;
}

.songs-section .songs-list {
  overflow-x: scroll;
}

.songs-list .songs-container {
  width: 40rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.songs-container .song {
  width: 20rem;
  height: 5rem;
  margin: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  cursor: pointer;
}

.song .cover {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song .artist-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.artist-title p {
  font-size: 14px;
}

/* LIST LINKS */

.quick-links {
  height: auto;
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

.quick-links .list-links {
  height: 9rem;
  margin: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list-links li {
  margin-top: 0.7rem;
  font-size: 13px;
  cursor: pointer;
  transition: 200ms;
}

.list-links li:hover {
  color: #5f2121;
  transform: scale(1.1);
}

.popular {
  height: auto;
  margin-bottom: 2rem;
}

.popular .popular-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.popular-list .album {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
  font-size: 12px;
  cursor: pointer;
  transition: 200ms;
}

.popular-list .album:hover {
  transform: scale(1.1);
}

.album .album-cover img {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
  object-fit: contain;
}

.album .artist {
  color: #296b51;
  margin-left: 0.8rem;
}

@media only screen and (max-width: 700px) {
  .songs--links {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.7rem;
  }
  .songs--links .songs-section {
    margin-top: 1rem;
  }
  .header h1 {
    font-size: 1.2rem;
  }
  .header p {
    font-size: 10px;
  }
  .songs-list .songs-container {
    width: 30rem;
    height: 20rem;
  }

  .songs-container .song {
    width: 12rem;
    height: 4rem;
    margin: 0.5rem;
  }

  .song .cover {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
  }
  .artist-title p {
    font-size: 11px;
  }

  .list-links li {
    font-size: 12px;
  }
}
